<!-- Fixed navbar -->
   <nav class="navbar navbar-inverse navbar-fixed-top">
     <div class="container">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="#">H</a>
       </div>
       <div id="navbar" class="navbar-collapse collapse">
         <ul class="nav navbar-nav">
           <li class="active"><a href="#">Home</a></li>
           <li class="dropdown"><a href="#houses">Houses</a></li>
           <li><a href="#students">Students</a></li>
           <li><a href="#contact">Contact</a></li>
         </ul>
         <ul class="nav navbar-nav navbar-right">
           <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
         </ul>
       </div><!--/.nav-collapse -->
     </div>
   </nav>

   <div class="container-fluid">

     <div class="row" id="main"> <!-- Main Section -->
       <div class="col-md-12">
         <img class="crest img-responsive" src="assets/HogwartsCrest.png" />
       </div>
     </div> <!-- / House Section -->

   <div class="row" id="houses"> <!-- House Section -->
     <h2 class="text-center">Our Houses</h2>
     <div class="col-md-3">
       <img class="img-center img-responsive" src="assets/gryffindor.png" />
       <h4 class="text-center">Gryffindor</h4>
       <p>Gryffindor values bravery, daring, nerve, and chivalry. Its emblematic animal is the lion and its colours are scarlet and gold. Minerva McGonagall is the most recent Head of Gryffindor. Sir Nicholas de Mimsy-Porpington, aka Nearly Headless Nick, is the house ghost. The founder of the house is Godric Gryffindor. Gryffindor corresponds to the element of Fire. The common room is located in one of the highest towers at Hogwarts, the entrance is situated on the seventh floor in the east wing of the castle and is guarded by a portrait of The Fat Lady. She permits entrance if given the correct password which is changed numerous times throughout the school year.</p>
     </div>
     <div class="col-md-3">
       <img class="img-center img-responsive" src="assets/hufflepuff.png" />
       <h4 class="text-center">Hufflepuff</h4>
       <p>Hufflepuff, founded by Helga Hufflepuff, values hard work, patience, loyalty, and fair play rather than a particular aptitude in its members. Its emblematic animal is the badger, and Yellow and Black are its colours. Pomona Sprout was the Head of Hufflepuff during 1991 - 1998, Sprout left the post of Head of Hufflepuff and Herbology Professor sometime before 2017 and her successor for the position of Head of Hufflepuff is currently unknown. The Fat Friar is its ghost. Hufflepuff corresponds to the element of earth. The Hufflepuff Dormitories and common room are located somewhere in the basement, near the castle's kitchens. It can be accessed by tapping the barrel two from the bottom, middle of the second row in the rhythem of "Helga Hufflepuff" and is described as being a cosy and welcoming place with yellow hangings, fat armchairs, and underground tunnels that lead to the dormitories, which have perfectly round doors, similar to barrel tops.</p>
     </div>
     <div class="col-md-3">
       <img class="img-center img-responsive" src="assets/ravenclaw.png" />
       <h4 class="text-center">Ravenclaw</h4>
       <p>Ravenclaw values intelligence, knowledge, and wit. Its emblematic animal is the eagle, and its colours are blue and bronze. The Ravenclaw Head of House in the 1990s was Filius Flitwick. The ghost of Ravenclaw is the Grey Lady, who was the daughter of Rowena Ravenclaw, the house's founder. Ravenclaw corresponds to the element of air. The Ravenclaw common room and dormitories are located in a tower on the west side of the castle. Ravenclaw students must answer a riddle as opposed to giving a password to enter their dormitories. This riddle, however, can be answered by non-Ravenclaws.</p>
     </div>
     <div class="col-md-3">
       <img class="img-center img-responsive" src="assets/slytherin.png" />
       <h4 class="text-center">Slytherin</h4>
       <p>Slytherin house values ambition, cunning and resourcefulness and was founded by Salazar Slytherin. Its emblematic animal is the serpent, and its colours are emerald green and silver. Professor Horace Slughorn was the Head of Slytherin during the 1997–1998 school year, replacing Severus Snape, who as well, replaced Slughorn when he retired for the first time several years ago. The Bloody Baron is the house ghost. Slytherin corresponds roughly to the element of water. The Slytherin Dormitories and common room are reached through a bare stone wall in the Dungeons. The Slytherin common room lies beneath the Black Lake. It is a long, low underground room with rough stone walls and silver lamps hanging from the ceiling.</p>
     </div>
   </div> <!-- / House Section -->

   <div class="row" id="students"> <!-- Student Section -->
     <h2 class="text-center">Our Students</h2>
     <div class="col-md-2 col-md-offset-2">
       <h4>Harry Potter</h4>
       <p><em>""I don't go looking for trouble. Trouble usually finds me."</em></p>
     </div>
     <div class="col-md-2 col-md-offset-1">
       <h4>Hermione Granger</h4>
       <p><em>"Books! And cleverness! There are more important things--friendship and bravery..."</em></p>
     </div>
     <div class="col-md-2 col-md-offset-1">
       <h4>Ron Weasley</h4>
       <p></p>
     </div>
   </div> <!-- / Student Section -->

   <div class="row" id="contact"> <!-- Contact Section -->
     <div class="col-md-6 col-md-offset-3">
       <h2 class="text-center">Contact Us</h2>
       <form>
        <div class="form-group">
           <label>Name</label>
           <input type="password" class="form-control" placeholder="Enter name">
        </div>
        <div class="form-group">
          <label>Email address</label>
          <input type="email" class="form-control" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label>Your message</label>
          <textarea class="form-control" rows="5" placeholder="Enter your message"></textarea>
        </div>
        <button type="submit" class="btn btn-default">Send Away!</button>
      </form>
     </div>
   </div> <!-- / Contact Section -->

   <div class="row" id="footer"> <!-- Contact Section -->
     <div class="col-md-12">
       <p class="text-center copyright">Made with &hearts; and intention by Lauren Pawell.</p>
   </div> <!-- / Footer Section -->


 </div> <!-- /container -->
